*.dta
*.log
*.pdf
*.aux
*.synctex.gz
*.lot
*.gz
*.aux*.pdf
*.log
*.Rout
*.Rdata
# *.png
# .lof is a list of figures
*.lof
*.docx
*.doc
*.bbl #BibTeX aux file
*.blg #BibTeX aux file
*.dvi 
*.blg
*.bbl
*.pdf
*.bak~
*.pdf
*.pptx
BA_Marchenko_publication.pdf
code/.DS_Store

#Ignore data folder
/data
/archive
/code/tables/output
/code/tables/individual_tables
/code/tables/tex_output/individual_tables/

.DS_Store
*.synctex(busy)

