*.dta
*.log
*.pdf
*.aux
*.synctex.gz
*.lot
*.gz
*.aux*.pdf
*.log
*.Rout
*.Rdata
# *.png
# .lof is a list of figures
*.lof
*.docx
*.doc
*.DS_Store #Mac folder file
*.bbl #BibTeX aux file
*.blg #BibTeX aux file
*.dvi 
*.blg
*.bbl
*.pdf
*.bak~
*.pdf
*.pptx
BA_Marchenko_publication.pdf
.DS_Store
code/.DS_Store

#Ignore data folder
/data
/archive
/code/tables/output
/code/tables/individual_tables
/code/tables/tex_output/individual_tables/

code/.DS_Store

#Ignore following tex table outputs
availability_30_days.tex
edelman_price.tex
number_reviews.tex


*.synctex(busy)
*.tex


code/tables/tex_output/individual_tables/availability_30_days.tex
git rm --cached code/tables/tex_output/individual_tables/edelman_price.tex
git rm --cached code/tables/tex_output/individual_tables/number_reviews.tex
git rm --cached code/tables/tex_output/individual_tables/price.tex
git rm --cached code/tables/tex_output/individual_tables/reviewer_mean_reg.tex
git rm --cached code/tables/tex_output/individual_tables/robustness_city.tex
git rm --cached code/tables/tex_output/individual_tables/robustness_listing_char.tex
git rm --cached code/tables/tex_output/individual_tables/summary_reviewer_char.tex
git rm --cached code/tables/tex_output/individual_tables/summary_table_host_demo.tex
git rm --cached code/tables/tex_output/individual_tables/yearly_revenue.tex
git rm --cached code/tables/tex_output/individual_tables/availability_30_days.tex
git rm --cached code/tables/tex_output/individual_tables/edelman_price.tex
git rm --cached code/tables/tex_output/individual_tables/number_reviews.tex
git rm --cached code/tables/tex_output/individual_tables/price.tex
git rm --cached code/tables/tex_output/individual_tables/reviewer_mean_reg.tex
git rm --cached code/tables/tex_output/individual_tables/robustness_city.tex
git rm --cached code/tables/tex_output/individual_tables/robustness_listing_char.tex
git rm --cached code/tables/tex_output/individual_tables/summary_reviewer_char.tex
git rm --cached code/tables/tex_output/individual_tables/summary_table_host_demo.tex
git rm --cached code/tables/tex_output/individual_tables/yearly_revenue.tex


git rm --cached availability_30_days.tex


BA-Draft/code/tables/tex_output/individual_tables

code/.DS_Store

#Ignore following tex table outputs
availability_30_days.tex
edelman_price.tex
number_reviews.tex


*.synctex(busy)


code/tables/tex_output/individual_tables/availability_30_days.tex
code/tables/tex_output/individual_tables/edelman_price.tex
code/tables/tex_output/individual_tables/number_reviews.tex
code/tables/tex_output/individual_tables/price.tex
code/tables/tex_output/individual_tables/reviewer_mean_reg.tex
code/tables/tex_output/individual_tables/robustness_city.tex
code/tables/tex_output/individual_tables/robustness_listing_char.tex
code/tables/tex_output/individual_tables/summary_reviewer_char.tex
code/tables/tex_output/individual_tables/summary_table_host_demo.tex
code/tables/tex_output/individual_tables/yearly_revenue.tex
code/tables/tex_output/individual_tables/availability_30_days.tex
code/tables/tex_output/individual_tables/edelman_price.tex
code/tables/tex_output/individual_tables/number_reviews.tex
code/tables/tex_output/individual_tables/price.tex
code/tables/tex_output/individual_tables/reviewer_mean_reg.tex
code/tables/tex_output/individual_tables/robustness_city.tex
code/tables/tex_output/individual_tables/robustness_listing_char.tex
code/tables/tex_output/individual_tables/summary_reviewer_char.tex
code/tables/tex_output/individual_tables/summary_table_host_demo.tex
code/tables/tex_output/individual_tables/yearly_revenue.tex
.DS_Store
