*.dta
*.log
*.pdf
*.aux
*.synctex.gz
*.lot
*.gz
*.aux*.pdf
*.log
*.Rout
*.Rdata
# *.png
# .lof is a list of figures
*.lof
*.docx
*.doc
*.DS_Store #Mac folder file
*.bbl #BibTeX aux file
*.blg #BibTeX aux file
*.dvi 
*.blg
*.bbl
*.pdf
*.bak~
*.pdf
BA_Marchenko_publication.pdf
.DS_Store
code/.DS_Store

#Ignore data folder
/data
/archive
/code/tables/output
/code/tables/individual_tables


code/.DS_Store
